<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LaToCyr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <LaToCyr.Properties.Settings>
            <setting name="Latin" serializeAs="String">
                <value />
            </setting>
            <setting name="A" serializeAs="String">
                <value />
            </setting>
            <setting name="B" serializeAs="String">
                <value />
            </setting>
            <setting name="C" serializeAs="String">
                <value />
            </setting>
            <setting name="D" serializeAs="String">
                <value />
            </setting>
            <setting name="E" serializeAs="String">
                <value />
            </setting>
            <setting name="F" serializeAs="String">
                <value />
            </setting>
            <setting name="G" serializeAs="String">
                <value />
            </setting>
            <setting name="H" serializeAs="String">
                <value />
            </setting>
            <setting name="I" serializeAs="String">
                <value />
            </setting>
            <setting name="J" serializeAs="String">
                <value />
            </setting>
            <setting name="K" serializeAs="String">
                <value />
            </setting>
            <setting name="L" serializeAs="String">
                <value />
            </setting>
            <setting name="M" serializeAs="String">
                <value />
            </setting>
            <setting name="N" serializeAs="String">
                <value />
            </setting>
            <setting name="O" serializeAs="String">
                <value />
            </setting>
            <setting name="P" serializeAs="String">
                <value />
            </setting>
            <setting name="Q" serializeAs="String">
                <value />
            </setting>
            <setting name="R" serializeAs="String">
                <value />
            </setting>
            <setting name="S" serializeAs="String">
                <value />
            </setting>
            <setting name="T" serializeAs="String">
                <value />
            </setting>
            <setting name="U" serializeAs="String">
                <value />
            </setting>
            <setting name="V" serializeAs="String">
                <value />
            </setting>
            <setting name="W" serializeAs="String">
                <value />
            </setting>
            <setting name="X" serializeAs="String">
                <value />
            </setting>
            <setting name="Y" serializeAs="String">
                <value />
            </setting>
            <setting name="Z" serializeAs="String">
                <value />
            </setting>
            <setting name="leftBracket" serializeAs="String">
                <value />
            </setting>
            <setting name="rightBracket" serializeAs="String">
                <value />
            </setting>
            <setting name="singleQuote" serializeAs="String">
                <value />
            </setting>
            <setting name="semicolon" serializeAs="String">
                <value />
            </setting>
            <setting name="dot" serializeAs="String">
                <value />
            </setting>
            <setting name="firstButtonUnderEsc" serializeAs="String">
                <value />
            </setting>
            <setting name="rightSlash" serializeAs="String">
                <value />
            </setting>
            <setting name="leftSlash" serializeAs="String">
                <value />
            </setting>
            <setting name="comma" serializeAs="String">
                <value />
            </setting>
        </LaToCyr.Properties.Settings>
    </userSettings>
</configuration>